# Ignore the following files (do not commit working files to repository)

# Ignore temporary files from editors
# vi/vim
*.swp
*.swo

# Ignore the dynamic MkDocs site folder

mkdocs-project/site/

# Office temporary files

*.tmp

# Word
#~$*.doc*
# Excel
#~$*.xls*
# PowerPoint
#~$*.ppt*
~$*
